<!DOCTYPE html>
<html>
  <head>
    <title>SpaceCamp</title>
        
        <link rel="stylesheet" href="stylesheets/bootstrap-5.2.2-dist/css/bootstrap.css">
        <link rel="stylesheet" href="stylesheets/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
